/*
html {
    background: #eee;
    margin: 0 0px;
}

body {
    font-family: "Segoe UI", sans-serif;
}

h1 {
    font-size: 50px;
}

#game {
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.25);
}

.game-cell {
    border: 1px solid #fff;
    cursor: pointer;
    width: 64px;
    height: 64px;
}


.game-cell > * {
    display: table;
    margin: 0 auto;
}

.game-number {
    font-size: 32px;
    font-weight: bold;
}
*/


#game-container {
    width: 100%;
    min-height: 400px;
    position: relative;
    line-height: 0;

}


#game {
  
   width: 100%;
   
}


.game-cell {

    cursor: pointer;
clear: none;
vertical-align: middle;


}

#info {
    background-color: black;
    opacity:0.5;
    filter:alpha(opacity=0); 
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    display:block;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    line-height: normal;
}
img {
	max-width: 98%;
	height: auto;
}



#info form {
    width:100%;
    
}

/*
#info label {
    display: inline;
    float: left;
    width: 40%;
    text-align: right;
    margin-top:0;
    font-size: 80%;

}

#info .submit {

    background-color: #00CC00;
}
#info select {
    display: inline;
    float: left;
    width: 40%;
    text-align: center;
    margin-top:0;
    font-size: 80%;

}
#form {
    width: 100%;
      font-size: 80%;
}
form >div{
    width: 80%;
}
*/
.button{
    padding: 2%;
    font-size: 2em;
   }
#newGame {


    font-size: 2em;
    text-align: center;
}
